@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav-bar {
  list-style-type: none; /* Remove bullets */
  background-color: #000000; /* Dark background */
  overflow: hidden; /* Clear floats */
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: left; /* Space out items */
}

.nav-bar li {
  float: left;
  min-width: 6rem;
}

/* Style the links */
.nav-bar li a {
  display: block;
  color: white; /* White text */
  text-align: center;
  padding: 0.25rem 0.625rem; /* Padding around the links */
  text-decoration: none; /* Remove underline */
  box-sizing: border-box;
}

.nav-bar li a.left {
  background-color: rgb(253, 0, 0); /* Darker background on hover */
  padding: 0.25rem 0.375rem;
  /* border: 0.125rem, solid, green; */
  clip-path: polygon(0 0, calc(100% - 0.25rem) 0, 100% 100%, 0.25rem 100%);
}

.nav-bar li a.right {
  background-color: rgb(255, 0, 0); /* Darker background on hover */
  padding: 0.25rem 0.375rem;
  /* border: 0.125rem, solid, green; */
  clip-path: polygon(0.25rem 0, 100% 0, calc(100% - 0.25rem) 100%, 0 100%);
}

/* Add a hover effect */
.nav-bar li a.left:hover {
  background-color: rgb(255, 0, 0); /* Darker background on hover */
  padding: 0.25rem 0.375rem;
  /* border: 0.125rem, solid, green; */
  clip-path: polygon(0 0, calc(100% - 0.25rem) 0, 100% 100%, 0.25rem 100%);
}

.nav-bar li a.right:hover {
  background-color: rgb(255, 0, 0); /* Darker background on hover */
  padding: 0.25rem 0.25rem;
  /* border: 0.125rem, solid, green; */
  clip-path: polygon(0.25rem 0, 100% 0, calc(100% - 0.25rem) 100%, 0 100%);
}

.nav-bar li a.true {
  background-color: rgb(89, 255, 24);
  clip-path: polygon(
    0 0,
    100% 0,
    calc(100% - 0.25rem) 100%,
    calc(0% + 0.25rem) 100%
  );
  position: relative;
  overflow: visible;
}

.nav-bar li a.true:hover {
  background-color: rgb(24, 39, 255);
}

/* Content Pages */
.page-content {
  background-color: rgb(89, 255, 24);
  margin: 0 0 0 0.23rem;
  display: flex;
  max-width: 50rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
